/* landing-page.component.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  /* Highlight effect */
.highlight {
    animation: highlightAnimation 1.5s ease-out;
  }
  
  @keyframes highlightAnimation {
    0% {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(99, 102, 241, 0.6); /* Light shadow */
    }
    50% {
      background-color: rgba(99, 102, 241, 0.1); /* Lighter background */
    }
    100% {
      background-color: #fff;
      box-shadow: none;
    }
  }
  